<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="customer-index">
      会員一覧
      <%= image_tag '601710.jpg', size: "200x200" %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-2"></div>
    <div class="col-8">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th>名前</th>
            <th>猫の名前</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
        <tbody>
          <tr class="table-light">
            <td>
              <%= link_to customer_path(customer.id), style: "color: black" do %>
                <%= customer.name %>
              <% end %>
            </td>
            <td><%= customer.cat_name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
</div>
