<div class="container-fluid">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>月</th>
          <th>日</th>
          <th>曜日</th>
          <th>ご飯の名前</th>
          <th>グラム</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
