<div class="container-fluid">
  <div class="row my-3 justify-content-center">
    <div class="about-top">
      <h3>ネコケンとは？</h3>
      <b><p>ネコケンは猫の健康管理を目的としており、ご飯やトイレの
      <br>内容などを記録できます！
      <br>さらに猫の飼い主同士が病気の情報やケアのコツなどを共有する
      <br>することもできるコミュニティサイトになっています！</p></b>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="row my-2 d-flex justify-content-center">
        <h1><マイページの使い方></h1>
      </div>
      <div class="row">
        <div class="col-md d-flex justify-content-end">
          <div class="about-1"></div>
        </div>
        <div class="col">
          <h3 style="color: red;">①会員の名前</h3>
          <b><p>自分の名前が表示されます。</p></b>

          <h3 style="color: red;">②会員画像</h3>
          <b><p>会員情報編集ページで登録した画像が表示されます。
          <br>未登録時は初期画像が反映されます。</p></b>

          <h3 style="color: red;">③猫の名前</h3>
          <b><p>自分の猫の名前が表示されます</p></b>

          <h3 style="color: red;">④自己紹介</h3>
          <b><p>会員情報編集ページで登録した自己紹介が表示されます。</p></b>

          <h3 style="color: red;">⑤編集ボタン</h3>
          <b><p>会員情報の編集をすることができます。</p></b>
        </div>
      </div>
      <div class="row">
        <div class="col-md d-flex justify-content-end">
          <div class="about-2"></div>
        </div>
        <div class="col">
          <h3 style="color: red;">⑥カレンダー</h3>
          <b><p>カレンダーの文字がリンクになっており、クリックすると
          <br>カレンダーの詳細ページに飛び、入力ができます。
          <br>入力をすると●で表示され、●をクリックしても詳細ページへ飛べます。
          </p></b>

          <h3 style="color: red;">⑦ご飯</h3>
          <b><p>リンクになっており、クリックするとご飯を記録するページへ飛びます。
          <br>日付やご飯の種類、量などを記録できます。</p></b>

          <h3 style="color: red;">⑧トイレ</h3>
          <b><p>リンクになっており、クリックするとトイレを記録するページへ飛びます。
          <br>日付やトイレの内容などを記録できます。</p></b>

           <h3 style="color: red;">⑨投稿履歴</h3>
          <b><p>リンクになっており、クリックすると自分の投稿履歴に飛びます。
          </p></b>

          <h3 style="color: red;">⑩お気に入り一覧</h3>
          <b><p>リンクになっており、クリックすると自分がお気に入りした投稿一覧に飛びます。
          </p></b>
        </div>
      </div>
      <div class="row">
        <div class="col-md d-flex justify-content-end">
          <div class="about-3"></div>
        </div>
        <div class="col">
          <h3 style="color: red;">⑪健康チェックフォーム</h3>
          <b><p>猫の健康チェックができます
          <br>肉球の画像などを投稿すると、AIがチェックしてくれます。</p></b>

          <h3 style="color: red;">⑫情報投稿フォーム</h3>
          <b><p>知りたいことや聞きたいことについて投稿して、
          <br>他の会員の方々と情報共有ができます。</p></b>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>