@use '~bootstrap/scss/bootstrap';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 120px;
  background-color: #f5deb3;
}

//ヘッダーの猫の健康管理のCSS
.wf-roundedmplus1c {
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 font-family: "M PLUS Rounded 1c";
 font-size: 30px;
}

//ヘッダーのネコケンのCSS
.wf-nikukyu {
  font-family: "Nikukyu";
}

.navbar-nav {
  font-size: 20px;
}

body {
  background-image: url("/assets/1393948.jpg");
  background-position: center;
  background-size: cover;
}

//publicのトップページ
.top {
  width: 600px;
  height: 350px;
  background-color: #ffffff;
  border: 1px solid black;
  margin: 50px auto;
  padding-left: 20px;
}

//publicのトップページ
.wf-sawarabigothic {
  font-family: "Sawarabi Gothic";
  font-size: 30px;
  margin: 50px auto;
}

//新規登録ページ
.sign-up{
  width: 300px;
  height: 650px;
  background-color: #ffffff;
  margin: 50px auto;
  padding-left: 50px;
}

//ログインページ
.sign-in{
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  margin: 50px auto;
  padding-left: 50px;
}

//マイページのカレンダー
.calendar {
  width: 150px;
  height: 150px;
  background-color: red;
  margin: 50px 0 50px 0;
}

//マイページのご飯とトイレボタン
.custom-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin: 30px 0;
}

//マイページの要素を中央揃えする
.main-visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//マイページの会員の名前
.name {
  margin-bottom: 20px;
  font-family: "M PLUS Rounded 1c";
  font-size: 20px;
}

.health {
  width: 350px;
  height: 300px;
  background-color: #ffffe0;
  margin-top: 50px;
  padding: 10px;
  font-family: "M PLUS Rounded 1c";
  font-size: 20px;
}