//会員詳細画面のエラー文
.customer-show-errors {
  margin: 20px 20px 0 0;
  color: red;
}

//会員編集画面のエラー文
.customer-edit-errors {
  margin-left: 400px;
  color: red;
}

//ご飯・トイレ投稿画面のエラー文
.food-errors,.toilet-errors,.calendars-errors {
  color: red;
}

#error_explanation {
  color: red;
}