//マイページログインしている場合の自分の会員詳細画面

//マイページ画面のカレンダー
.calendar {
  width: 300px;
  height: 300px;
  margin: 50px 0 50px 0;
}

//マイページ画面のご飯とトイレボタン
.custom-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin: 30px 0;
}

//マイページ画面の自己紹介(会員・管理者詳細画面でも使用)
.customer-introduction {
  flex-grow: 1;
  white-space: pre-line;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 0 10px 10px 10px;
  font-family: "M PLUS Rounded 1c";
  font-size: 20px;
  border: 1px solid #000000;
}

//マイページ画面右下の情報共有部分
.my-topic {
  width: 350px;
  height: 700px;
  background-color: #ffffe0;
  margin-top: 50px;
  padding: 10px;
  font-family: "M PLUS Rounded 1c";
  font-size: 20px;
}