//会員トップ画面
.customer-top {
  width: 600px;
  height: 350px;
  background-color: #ffffff;
  border: 1px solid black;
  margin: 50px auto;
  padding-left: 20px;
}

//会員トップ画面
.wf-sawarabigothic {
  font-family: "Sawarabi Gothic";
  font-size: 30px;
  margin: 50px auto;
}